
.head {
   background-color:rgba(114,109,106,0.5);
  text-align:center;
  font-size:20px;
  color:#22262;
  left: 140px;
  width:100%;
  font-family: Optima,sans-serif;
  color:beige;
  font-weight: bold;
}
.head h1 {
  margin-top:0px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.topfix {
  float:right;
  margin:5px;
  font-size:15px;
  color:black;
  margin-top:10px;
  padding-right:10px;
}

.navbar{
  text-align: center;
  margin-top: -10px;
   background-color:rgba(114,109,106,0.5);
}

.navbar-brand{
  font-size:20px;
  margin-left: 270px;
  margin-right:10px;
  /* color: white; */
  color:beige;
  font-weight: bold;
}

body {
	font-family:Times;
  background-image: url("../Images/bonsai-background-full-hd-128785.jpg");
  background-size:1500px 800px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

article {

    margin-left: 500px;
    margin-top: 250px;
    color:beige;
}



.sidenav {
  height: 95%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#726d6a;
  overflow-x: hidden;
  padding-top: 200px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
}


.sidenav a{
  font-weight: bold
}

.sidenav a:hover {
  background-color:white;
}

.html, body {
    max-width: 100%;
    overflow-x: hidden;
}



.main {
  margin-left: 240px;
  margin-right:150px;
  padding: 10px 10px 10px 10px;
  background-color: beige;
  margin-bottom:90px;
  margin-top:10px;
}


.btn{
  margin-top:10px;
  margin-bottom: 5px;
}

.main h2{
  margin-top:100px;
  margin-right:150px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.footer{
  position:fixed;
  background-color:#C9C4C1;
  bottom:0px;
  height:40px;
  width:100%;
}

.pagebottom {
  margin-top:200px;
  margin-bottom: 30px;
}
.checked {
  color: orange;
}
.disabled {
  cursor:not-allowed;
}
