<div class="sidenav">
  <a href="/"> Home </a>
  <a href="/categories"> Categories </a>
  <a class="disabled" href="#"> Store </a>
  <a href="/about"> About Us</a>
  <a href="/contact"> Contact Us</a>
</div>
