<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>  Plant a Tree </title>
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
      <% include partials/nav.ejs %>
    <header>
      <% include partials/headers.ejs %>
    </header>
      <div class="container-fluid">
        <% include partials/sidenav.ejs %>
        <div class ="main">
          <h3> About Us </h3> <br>
          <table style="width:100%">
              <tr>
              <td> This is a Web Applicaiton Project  using on Javascript and NodeJs.</td>
            </tr>
          </table>
        </div>
       </div>
    <% include partials/footer.ejs %>
  </body>
</html>
